/* Font Import */
@import url(font-roboto.css);
@import url(font-robotoslab.css);
@import url(font-beyondthemountain.css);


/* Globals */
body {
    background-color: #003171;
    font-family: "Roboto", sans-serif !important;
    -webkit-font-smoothing: antialiased;
}


/* Container */
.main-container {
    margin: 0 auto 30px;
    padding: 0;
    background-color: #fff;
}
.inner-container {
    overflow: hidden;
}


/* Header */
.header {
    margin: 30px auto 20px !important;
    color: #fff;
}
.header img {
    width: 80px;
}
.header h1 {
    margin: 0;
    font-size: 24px;
    font-family: "Roboto Slab";
    letter-spacing: -1px;
}
.header .sub {
    margin: 0;
    font-family: "Roboto Slab";
    font-size: 20px;
    letter-spacing: -1px;
}


/* Navbar & Sidebar */
.navbar {
    margin: 0;
    border: none;
}
.navbar-default {
    background-color: #89C4F4;
    border-color: #89C4F4;
}
.navbar>div {
    padding: 0;
}
.navbar-default .btn-link,
.navbar-default .navbar-brand,
.navbar-default .navbar-link {
    font-family: "Roboto Slab";
    font-size: 14px;
}
.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-link:hover {
    color: #4B77BE !important;
}
.navbar-default .btn-link,
.navbar-default .navbar-brand,
.navbar-default .navbar-link {
    color: #4B77BE !important;
}
.navbar-default .navbar-nav {
    margin: 0;
}
.navbar-default .navbar-nav li {
    float: left;
}
.navbar-default .nav-pills>li>a,
.navbar-default .navbar-text {
    color: #4B77BE !important;
}
.navbar-default .navbar-right {
    display: block !important;
    margin: 0 15px 0 0;
}
.nav-pills {
    float: right;
}
.nav-pills>li>a:focus,
.nav-pills>li>a:hover,
.nav-pills .open>a,
.nav-pills .open>a:focus,
.nav-pills .open>a:hover {
    border-radius: 0;
    background-color: #4B77BE;
    color: #fff !important;
}
.nav-pills>li>.dropdown-menu {
    border-radius: 0;
}
.nav-pills .navbar-text {
    margin: 15px;
}
.nav-pills .dropdown-toggle {
    padding: 15px;
}
.navbar-nav {
    margin: 0;
}
.dropdown-menu {
    background-color: #434a54 !important;
}
.main-sidebar {
    padding: 0;
    background-color: #222d32;
}
.navbar-inverse button.navbar-toggle,
.navbar-inverse button.navbar-toggle:focus,
.navbar-inverse button.navbar-toggle:hover {
    margin: 0 15px 0 0;
    padding: 15px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #fff;
}
.sidebar-nav .navbar-inverse {
    background-color: transparent;
}
.sidebar-nav .navbar-text {
    margin: 0;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #4b646f;
    background: #1a2226;
}
.sidebar-nav .navbar-inverse .navbar-nav a {
    border-left: 5px solid transparent;
    padding: 15px 20px;
    white-space: normal;
    transition: all .2s;
}
.sidebar-nav .navbar-inverse .navbar-nav>li>a:focus,
.sidebar-nav .navbar-inverse .navbar-nav>li>a:hover,
.sidebar-nav .navbar-inverse .navbar-nav>.active>a,
.sidebar-nav .navbar-inverse .navbar-nav>.active>a:focus,
.sidebar-nav .navbar-inverse .navbar-nav>.active>a:hover,
.sidebar-nav .navbar-inverse .navbar-nav>.open>a,
.sidebar-nav .navbar-inverse .navbar-nav>.open>a:focus,
.sidebar-nav .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1e282c;
    border-color: #3c8dbc;
}
.sidebar-nav .dropdown-menu {
    border-radius: 0;
    width: 100%;
}
.sidebar-nav .dropdown-menu a {
    color: #8c8c8c !important;
        padding: 15px 20px !important;
}
.sidebar-nav .dropdown > .dropdown-menu {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
}
.sidebar-nav .dropdown-menu {
    box-shadow: none;
    padding: 0;
}
.sidebar-nav .dropdown-menu .active a,
.sidebar-nav .dropdown-menu .active a:focus,
.sidebar-nav .dropdown-menu .active a:hover,
.sidebar-nav .dropdown-menu li a:focus,
.sidebar-nav .dropdown-menu li a:hover {
    background-color: transparent !important;
    color: #fff !important;
}


/* Content */
.content {
    min-height: 300px;
}
.main-content h2 {
    font: 300 34px/40px "Roboto", sans-serif;
    color: #757575;
    letter-spacing: -.01em;
}
.table-wrapper {
    margin-bottom: 15px;
    padding: 0;
    overflow-x: auto;
}
.table {
    margin-bottom: 15px;
    width: auto;
    min-width: 100%;
}


/* Specific Page */
.dashboard .box {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.dashboard .box-blue {
    background-color: #4A89DC;
}
.dashboard .box-green {
    background-color: #37BC9B;
}
.dashboard .box-yellow {
    background-color: #F6BB42;
}
.dashboard .box-red {
    background-color: #DA4453;
}
.dashboard .box h3 {
    font-family: "Roboto Slab";
    font-size: 40px;
    margin: 0;
}
.dashboard .box .box-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 52px;
    opacity: .2;
    transition: all .2s;
}
.dashboard .box:hover .box-icon {
    font-size: 62px;
}
.dashboard h5,
.grafik h5 {
    font: 500 16px/20px "Roboto", sans-serif !important;
    color: #757575;
    letter-spacing: -.01em;
    text-align: justify;
}


/* Footer */
.footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: transparent;
    border-top: 1px solid #ddd;
}
.footer p .glyphicon {
    color: #DA4453;
    font-size: 12px;
}
.tooltip-inner {
    padding: 10px;
}


/* Media Query */
@media (min-width: 768px) {
    .main-sidebar {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
