@font-face {
  font-family: 'Beyond the Mountain';
  font-style: normal;
  src: url('../fonts/BeyondtheMountain/BeyondtheMountain.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BeyondtheMountain/BeyondtheMountain.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      local('Beyond the Mountain'),
      url('../fonts/BeyondtheMountain/BeyondtheMountain.woff2') format('woff2'), /* Modern Browsers */
      url('../fonts/BeyondtheMountain/BeyondtheMountain.woff') format('woff'), /* Modern Browsers */
      url('../fonts/BeyondtheMountain/BeyondtheMountain.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/BeyondtheMountain/BeyondtheMountain.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
}