html {
    position: relative;
    min-height: 100%;
}
body.konsultan {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-bottom: 20px;
    overflow-y: scroll;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted, .container-fluid .text-muted {
    margin: 20px 0 19px;
}

textarea {
    resize: vertical;
}
.header {
    padding: 20px 0;
}
.header .logo {
    max-height: 50px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-static-top {
    border-width: 1px 0;
}
.navbar-right {
    margin: 0;
}
.navbar-text {
    color: #333 !important;
}
.jumbotron {
    background-color: transparent;
}
.panel-profil {
    padding: 20px;
}
.img-center {
    margin: 0 auto;
    display: block;
}
.img-small {
    max-width: 150px;
}
.label-role {
    display: block;
    margin: 15px -35px -35px;
    padding: 15px;
    border-radius: 0 0 4px 4px;
    letter-spacing: 2px;
    font-size: 14px;
}
.login-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/bg-3.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.login .header img {
    margin: 0 auto;
    max-width: 250px;
}
.login .box-login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.login .box-login-inner {
    width: 100%;
}
.login .box-login h1 {
    font-size: 20px;
    font-weight: bold;
}
.login .footer {
    background-color: transparent;
}
.login .footer .col-md-5 {
    background-color: #f5f5f5;
}
.daftar {
    background-image: url('../img/bg-2.jpg');
    background-size: cover;
    background-position: center;
}
.daftar .header img {
    margin: auto;
    max-height: 100px;
}
.daftar h3 {
    text-transform: uppercase;
    letter-spacing: -1px;
}
.message-area {
    padding: 15px;
    background-color: #f5f5f5;
}
.message-area .well {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.message-area .col-md-8 .well {
    border-radius: 4px 4px 4px 0;
}
.message-area .col-md-offset-4 .well {
    border-radius: 4px 4px 0 4px;
}
.message-area form textarea {
    width: 100%;
    padding: 19px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 4px;
    transition: all .2s;
}
.message-area form textarea:focus {
    outline: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

/* select2 */
.select2-container .select2-selection--single {
    height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal !important;
    padding: 13px 15px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px !important;
}
