/* Font Import */
@import url(font-roboto.css);
@import url(font-robotoslab.css);


/* Globals */
body {
    background-color: #222;
    font-family: "Roboto";
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
}


/* Header */
.header {
    margin: 50px auto 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 0 2px 2px #111;
}
.header .logo {
    width: 100px;
    margin-bottom: 10px;
}


/* Container */
.container {
    max-width: 300px;
    margin: auto;
    padding: 0;
    background-color: #fff;
}


/* Content */
.inner {
    padding: 15px;
}
.inner h1 {
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Roboto Slab";
    font-size: 32px;
    letter-spacing: -1px;
    text-align: center;
    border-bottom: 1px dashed #e7e7e7;
}


/* Footer */
.footer {
    padding: 15px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.footer p .glyphicon {
    color: #DA4453;
    font-size: 12px;
}
.footer .tooltip-inner {
    padding: 10px;
}
