/* Globals */
body {
    font-family: "Roboto" !important;
    font-weight: normal;
    font-size: 12px;
}
h1,h2,h3,h4,h5,hr {
    font-family: "Roboto" !important;
    font-weight: normal;
    margin: 0;
}
b {
    font-weight: bold;
}


/* Header */
.header {
    margin: 0 auto 5px;
    text-align: center;
    line-height: normal;
}
.header td:first-child {
    text-align: right;
}


/* Content */
.content h2 {
    margin: 10px 0;
    font-family: "Roboto Slab" !important;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: center;
}
.content h5 {
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -.01em;
    text-align: justify;
}
.content table th,
.content table td {
    padding: 8px;
}
.content .row:nth-child(odd) {
    page-break-after: always;
}
.content .row {
    page-break-inside: avoid;
}


/* Footer */
.footer {
    text-align: center;
    background-color: transparent;
}
