/* Font Import */
@import url(font-roboto.css);
@import url(font-robotoslab.css);
@import url(font-beyondthemountain.css);


/* Globals */
html,
body {
    height: 100%;
    font-size: 14px;
    background-image: url(../img/kanim.jpg);
    background-color: #111;
    background-blend-mode: overlay;
    background-size: cover;
    font-family: "Roboto";
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}
a,
a:focus,
a:hover {
    color: #fff;
}


/* Cover Wrapper */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}


/* Cover Container */
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.cover-heading {
    font-family: "Roboto Slab";
}
.inner {
    padding: 30px;
}

/* Header */
.header h1 {
    margin-top: 40px;
    font-family: "Roboto Slab";
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
}


/* Cover Content */
.cover {
    padding: 0 20px;
}
.cover kbd {
    background-color: #286090;
    box-shadow: 0 5px 1px #1a4264;
    font-weight: bold;
}
.cover .alert {
    text-shadow: none;
    display: none;
}
.cover .lead {
    font-size: 26px;
}
.cover .btn-lg {
    padding: 20px 20px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    box-shadow: 0 5px 1px #1a4264;
    transition: all .2s;
}
.box-cover .jawaban .col-md-3 {
    position: relative;
    padding: 30px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    box-shadow: 0 5px 1px #1a4264;
    transition: all .2s;
}
.box-cover label, .box-cover input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.box-cover input[type="radio"] {
    opacity:0.011;
    z-index:100;
}
.box-cover input[type="radio"]:checked + label {
    background: yellow;
}
.box-cover label {
    padding:25px;
    margin: 0;
    cursor:pointer;
    z-index:90;
}


/* Footer */
.footer {
    padding: 0;
    background-color: transparent;
    color: #999;
    color: rgba(255, 255, 255, .5);
}
.footer p .glyphicon {
    color: #DA4453;
    font-size: 12px;
}
.tooltip-inner {
    padding: 10px;
}


/* Media Query */
@media (min-width: 768px) {
    .header {
        position: fixed;
        top: 0;
    }
    .footer {
        position: fixed;
        bottom: 0;
    }
    .site-wrapper-inner {
        vertical-align: middle;
    }
    .header,
    .footer,
    .cover-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .header,
    .footer,
    .cover-container {
        width: 900px;
    }
}